roboticstoolbox-python==1.1.0
swift-sim @ git+https://github.com/alient12/swift.git
spatialmath-python
QSwitchControl
websockets==11.0.3
PyQt5
PyQtWebEngine
scipy<1.12.0
matplotlib==3.5.1
numpy==1.26.4